html {

}

body {
	margin: 0px;
	font-family: Helvetica Neue; Helvetica; Sans Serif;
}

p {

}

h1 {
	font-size: 2em;
	letter-spacing: 40px;
	text-align: center;
}

h2 {
	color: #e62b1e;
	font-size: 2em;
	letter-spacing: 40px;
	text-align: center;
}

#info {
	color: #000000;
	background: transparent;
	position: absolute;
	width: 800px;
	margin-left: 50%;
	left: -350px;
	bottom: 150px;
}